<a href="https://colab.research.google.com/github/nick1287/Airlines/blob/main/Airlines%2BProyecto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

# Data Adquisition y Análisis del dataset

In [ ]:
# importación de librerías a utilizar.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # herramienta de visualizacion
import seaborn as sns # herramienta de visualizacion
import pandas_profiling # para el analisis de las variables 
from sklearn.preprocessing import OneHotEncoder # Para hacer una clasificacion binaria de las variables

In [ ]:
# creación del DataFrame 'df' mediante la lectura del archivo .csv
df = pd.read_csv('Airlines.csv',index_col=0)

In [ ]:
# vista del data frame
df.head()

   Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
id
1       CO     269         SFO       IAH        3.0  15.0   205.0    1.0
2       US    1558         PHX       CLT        3.0  15.0   222.0    1.0
3       AA    2400         LAX       DFW        3.0  20.0   165.0    1.0
4       AA    2466         SFO       DFW        3.0  20.0   195.0    1.0
5       AS     108         ANC       SEA        3.0  30.0   202.0    0.0

In [ ]:
# se visualiza la nueva forma del dataframe a utilizar.
df.shape

(124747, 8)

In [ ]:
# se obtiene la información sobre registros válidos y tipo de datos de las columnas.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124747 entries, 1 to 124747
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Airline      124747 non-null  object
 1   Flight       124747 non-null  int64
 2   AirportFrom  124747 non-null  object
 3   AirportTo    124746 non-null  object
 4   DayOfWeek    124746 non-null  float64
 5   Time         124746 non-null  float64
 6   Length       124746 non-null  float64
 7   Delay        124746 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 8.6+ MB

Los datos en todas sus columnas son completos por lo que nos informa que podemos tomar todos y cada uno de los registros como validos.

# Data Wrangling

Debido a que todos los registros son validos, no es necesario limpiar las variables.
Pero el dataframe anteriormente mostrado no es el definitivo, primero estudiaremos las variables para hacerle las modificaciones necesarias para nuestro estudio.

# Data Visualization

## Analisis univariado

In [ ]:
# descripcion rapida del DF
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Flight,124747.0,2437.128027,2075.589646,1.0,729.0,1800.0,3758.0,7813.0
DayOfWeek,124746.0,3.901512,1.962729,1.0,2.0,4.0,6.0,7.0
Time,124746.0,790.252385,278.744914,10.0,540.0,780.0,1023.0,1439.0
Length,124746.0,130.712015,69.354554,23.0,80.0,114.0,160.0,655.0
Delay,124746.0,0.339730,0.473620,0.0,0.0,0.0,1.0,1.0

In [ ]:
# 
sns.countplot(data=df,x=df['Delay'])